<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<head>
		<title>Blogs</title>
	</head>
	<body>
		<h2>Here are your blog posts</h2>
		<ul>
			{% for blog in all_blogs %}
				<li>{{blog}}</li>
			{% endfor %}
		</ul>
	</body>
</html>
