<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<head>
		<title>Counting Starts</title>
	</head>
	<body>
		<h2>Hello world. Your lucky number is {{contact_id}}</h2>
	</body>
</html>
